/* #paysSelection {
    max-height: 200px;
    overflow-y: hidden;
}*/
#paysSelection.open {
    height: 200px;
    overflow-y:scroll;
} 
.hide {
    display: none;
}
.titre {
    text-align: center;
}
.cadre {
    text-align: center;
}